@model ClientBibliotheque.ServiceReferenceBibliotheque.Utilisateur

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="register">
        <div class="col-md-6 login-left">
            <h3>New User</h3>
            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
            <a class="acount-btn" href="/Login/Register">Create an Account</a>
        </div>
        <div class="col-md-6 login-right">
            <h3>Registered users</h3>
            <p>If you have an account with us, please log in.</p>
            @using (Html.BeginForm("Connect", "Login"))
            {
                @Html.ValidationSummary(true)
                {
                    <div>
                        <span>Email Address<label>*</label></span>
                        @Html.TextBoxFor(model => model.nomUser, new { @id = "username", @class = "form-control", placeholder = "Username or email" })
                    </div>

                    <div>
                        <span>Password<label>*</label></span>
                        @Html.PasswordFor(model => model.motdepasse, new { @id = "password", @class = "form-control", placeholder = "password" })
                    </div>

                    <a class="forgot" href="#">Forgot Your Password?</a>
                    <input type="submit" value="Login">

                }
            }

        </div>
        <div class="clearfix"> </div>
    </div>
</div>

